body {
    font-family: "Lato", sans-serif; /* Included in 'body' due to inheritance */
    font-weight: 400; /* Variable */
    font-size: 1.6rem; /* Variable */
    line-height: 1.7; /* Variable */
    color: #777; /* Variable */
    padding: 3rem; /* Variable */
}